services:
  ros2:
    build:
      dockerfile: ./Dockerfile
    image: ros-jazzy:latest
    container_name: ros2-jazzy
    privileged: true
    network_mode: host
    ipc: host

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]

    volumes:
      - /dev:/dev
      - .:/home/ubuntu/project
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VASIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    tty: true
    stdin_open: true 

  microros_serial:
    image: microros/micro-ros-agent:kilted
    container_name: microros-serial-agent
    privileged: true
    network_mode: host
    volumes:
      - /dev:/dev
    command: serial --dev /dev/ttyUSB0 -v6
    tty: true

  microros_udp:
    image: microros/micro-ros-agent:kilted
    container_name: microros-udp-agent
    privileged: true
    network_mode: host
    volumes:
      - /dev:/dev
    command: udp4 --port 8888 -v6
    tty: true
